<?xml version="1.0" encoding="UTF-8"?>
<configuration name="ofd-trial" status="warn" monitorInterval="30">

  <appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%t] %C{1.}.%M.%L - %p{length=1} - %m%n"/>
    </Console>
  </appenders>

  <loggers>
    <async-logger name="ru.snm.ofd_trial" level="trace" additivity="false">
      <appender-ref ref="console" />
    </async-logger>

    <async-root level="warn">
      <appender-ref ref="console" />
    </async-root>
  </loggers>
</configuration>